{
   "EXCHANGE": "bybit",
    "API_KEY": "ZKgWo8AIlEeO5YKXJY",
    "API_SECRET": "61bY74TEAuRCdxnrG9U4foFt3Jm5aBlg2DPf",
    "AUTO_SCRAPE_INTERVAL": 300,
    "CUSTOM": {
        "NAVBAR_TITLE": "Futuresboard",
        "NAVBAR_BG": "bg-dark",
        "PROJECTIONS": [1.003, 1.005, 1.01, 1.012]
    }
}
